<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue.js Start</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>


  <div id="app">
    <h2>Name list</h2>
    <ul>
      <li v-for="p in products">{{ p.name }}</li>
    </ul>

    <p v-if="!products.length">No items!</p>

    <button v-on:click="addItem()">Add static item</button>

    <form v-on:submit.prevent="addItemInput">
        Item Name: <input type="text" name="fname" v-model="itemName"><br>
        <input type="submit" value="Submit">
      </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        itemName: "",

        products: [{
          id: 0,
          name: 'Jacek'
        }, 
        {
          id: 1,
          name: 'Szymon'
        },
        {
            id: 2,
            name: "Marcin"

        }]
      },

      methods: {

        addItem() {
          this.products.push({
              id: this.products.length,
              name: this.products.length + 1
          });
        },
        addItemInput() {
          this.products.push({
              id: this.products.length,
              name: this.itemName
          });
          this.itemName = ""
        }
      }

      
    })
  </script>
</body>

</html>
